* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#disco {
    z-index: 2000;
    background-color: black;
    width: 100%;
    position: absolute;
    height: 100vH;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border: 25px solid white;
    /* border-radius: 60px;
    -moz-border-radius: 60px;  */
    /* -webkit-border-radius: 6px; */
}

#disco button {
    border: none;
    padding: 2vH 10%;
    background-color: #dbb2e3;
    color: 	#294974;
    font-family: sans-serif;
    font-size: larger;
    font-weight: 800;
    border-radius: 20px;
}

#disco button:focus {
    outline: none;
}